hostname {{hostname}}
!
{% for intf, intf_attrs in interfaces.items() %}
interface {{intf}}
{% if intf_attrs.ip_address is none %}
 no ip address
{% else %}
 ip address {{ intf_attrs.ip_address | ipaddr('address') }} {{ intf_attrs.ip_address | ipaddr('netmask') }}
{% endif %}
{% if intf_attrs.description is none %}
 no description
{% else %}
 description {{ intf_attrs.description | upper }}
{% if intf_attrs.is_enable == True %}
 no shutdown
{% else %}
 shutdown
{% endif %}
 !
!
exit
{% endfor %}
no router bgp {{ bgp.asn }}
router bgp {{ bgp.asn }}
 no synchronization
 bgp log-neighbor-changes
 redistribute connected
 {% for attrs in bgp.neighbors %}
 neighbor {{ attrs.neighbor_ipaddress }} remote-as {{ attrs.neighbor_asn }}
 {% endfor %}
 no auto-summary
!